.btn5{
  margin-top: -750px;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-weight: 400;
  background: #EEF7FE;
  color: #22215B;
  cursor: pointer;
 margin-left: 1100px;

}
